/.idea/misc.xml
/.idea/workspace.xml
/.idea
/CameraViewer/.idea/.idea.CameraViewer/.idea/.gitignore
/CameraViewer/.idea/.idea.CameraViewer/.idea/encodings.xml
/CameraViewer/.idea/.idea.CameraViewer/.idea/indexLayout.xml
/CameraViewer/.idea/.idea.CameraViewer/.idea/vcs.xml
/CameraViewer/CameraViewer/bin/Debug/net8.0-windows/CameraViewer.deps.json
/CameraViewer/CameraViewer/bin/Debug/net8.0-windows/CameraViewer.dll
/CameraViewer/CameraViewer/bin/Debug/net8.0-windows/CameraViewer.exe
/CameraViewer/CameraViewer/bin/Debug/net8.0-windows/CameraViewer.pdb
/CameraViewer/CameraViewer/bin/Debug/net8.0-windows/CameraViewer.runtimeconfig.json
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/ref/CameraViewer.dll
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/refint/CameraViewer.dll
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/apphost.exe
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.AssemblyInfo.cs
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.AssemblyInfoInputs.cache
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.assets.cache
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.csproj.CoreCompileInputs.cache
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.csproj.FileListAbsolute.txt
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.dll
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.GeneratedMSBuildEditorConfig.editorconfig
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.genruntimeconfig.cache
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.GlobalUsings.g.cs
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.pdb
/CameraViewer/CameraViewer/obj/Debug/net8.0-windows/CameraViewer.sourcelink.json
/CameraViewer/CameraViewer/obj/CameraViewer.csproj.nuget.dgspec.json
/CameraViewer/CameraViewer/obj/CameraViewer.csproj.nuget.g.props
/CameraViewer/CameraViewer/obj/CameraViewer.csproj.nuget.g.targets
/CameraViewer/CameraViewer/obj/project.assets.json
/CameraViewer/CameraViewer/obj/project.nuget.cache
/CameraViewer/CameraViewer/obj/project.packagespec.json
/CameraViewer/CameraViewer/obj/rider.project.restore.info
/CameraViewer/CameraViewer/CameraViewer.csproj
/CameraViewer/CameraViewer/CameraViewer.csproj.user
/CameraViewer/CameraViewer/Form1.cs
/CameraViewer/CameraViewer/Form1.Designer.cs
/CameraViewer/CameraViewer/Program.cs
/CameraViewer/CameraViewer.sln
